<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="BookStore Server">
    <!-- Enable features -->
    <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->
    <featureManager>
        <feature>microProfile-5.0</feature>
        <feature>beanValidation-3.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>

        <!-- For deploying the application with a configuration in IntelliJ  -->
        <feature>localConnector-1.0</feature>
        <!-- URL: http://localhost:9080/adminCenter -->
        <feature>adminCenter-1.0</feature>
    </featureManager>

    <basicRegistry id="basic">
        <user name="admin" password="s3cr3t"/>
        <user name="reader" password="s3cr3t"/>
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    <reader-role>
        <user>reader</user>
    </reader-role>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" trustDefaultCerts="true"/>
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
        <sslOptions sslRef="defaultSSLConfig" suppressHandshakeErrors="true" />
    </httpEndpoint>
    <wasJmsEndpoint wasJmsPort="7276" wasJmsSSLPort="7286" />
    <sipEndpoint sipTCPPort="5060" sipTLSPort="5061" sipUDPPort="5060" />
    <iiopEndpoint iiopPort="2811">
        <iiopsOptions iiopsPort="9404" sslRef="defaultSSLConfig" />
    </iiopEndpoint>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    <!-- Allow servlets to access file in META-INF and WEB-INF -->
    <webContainer exposeWebInfOnDispatch="true" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <!-- Application Resources -->
    <jndiEntry jndiName="var/bsb/application" value="BookStore"></jndiEntry>
    <jndiEntry jndiName="var/bsb/version" value="1.0-SNAPSHOT"></jndiEntry>
    <jndiEntry jndiName="var/instance/environment" value="LOCal"></jndiEntry>

    <!-- Declare the jar files for MySQL access through JDBC. -->
    <library id="MySQLLib">
        <fileset dir="${server.config.dir}/lib/global" includes="*.jar"/>
    </library>

    <jpa defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider" />
    <dataSource isolationLevel="TRANSACTION_READ_UNCOMMITTED" jndiName="jdbc/bsb/datasource" type="jakarta.sql.XADataSource">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="bookstore"
                    serverName="localhost" portNumber="3306"
                    user="root" password="BB25"/>
    </dataSource>

</server>