<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="BookStore Server for ${project.root}">
    <!-- Enable features; see https://www.ibm.com/docs/en/was-liberty/base?topic=management-liberty-features -->
    <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->
    <featureManager>
        <feature>microProfile-5.0</feature>
        <feature>beanValidation-3.0</feature>
<!--        <feature>enterpriseBeansLite-4.0</feature>-->
        <feature>enterpriseBeans-4.0</feature>
        <feature>messagingServer-3.0</feature>
        <feature>messagingClient-3.0</feature>
        <feature>persistence-3.0</feature>

        <!-- For deploying the application with a configuration in IntelliJ  -->
        <feature>localConnector-1.0</feature>
        <!-- URL: http://localhost:9080/adminCenter -->
        <feature>adminCenter-1.0</feature>
    </featureManager>

    <include location="infra.xml" />
    <include location="resources.xml" />
    <include location="resources_jms.xml" />
    <!-- <include location="resources_mq.xml" /> -->

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    <!-- Allow servlets to access file in META-INF and WEB-INF -->
    <webContainer exposeWebInfOnDispatch="true"/>
    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

</server>